:root {
    --primary-text-color: rdba(0, 0, 0, 0.8);
    /**Slate - Body Text */
    --text-color: #434455;
    /**Light Slate - Subtle Text */
    --helper-text-color: #8E8F99;
    /**Navy Blue - Dark */
    --title-text-color: #2E2F42;
     /**Iris - Primary Brand  */
    --accent-text-color: #4D5AE5;
    /**Ocean - Pressed State*/
    --btn-active-color: #404BBF;
    /**Green - Success*/
    --success-color: #31DDAA;
    /**Cloud - Light*/
    --white-title-text-color:#F4F4FD;
    --white-background-color: #F4F4FD;
    /**Cornflower - Accent*/
    --white-text-color: #E7E9FC;
    /**White - White background */
    --primary-white-color: #FFFFFF;
    /**Navy Blue Modal - Modal overay*/
    --modal-overay-color: #2E2F42;
    /**Grey - Hero background*/
    --dark-background-color: #2E2F42;
    /**Dairy - Modal background */
    --modal-bg-color: #FCFCFC;
    
    --primary-font-family: Roboto, sans-serif;
    --secondary-font-family: Raleway, sans-serif;
    --header1-font-size: 56px;
    --header2-font-size: 36px;
    --header3-font-size: 20px;
    --logo-font-size: 18px;
    --regular-font-size: 16px;
    --text-font-size: 14px;

    --text-font-weight: 400;
    --header3-font-weight: 500;
    --header1-font-weight: 700;

    --header1-line-height: 1.07;
    --header2-line-height: 1.11;
    --header3-line-height: 1.15;
    --text-line-height: 1.20;
    --feature-widthtext-line-height: 1.50;
    --header-logo-line-height: 1.33;
    --footer-logo-line-height: 1.17;

    --page-width: 1440px;
    --content-width: 1188px;
    --feature-width: 264px;
    --filters-width: 586px;
    --footer-content-width: var(--feature-width);

    --footer-padding-gap: 156px;
    --padding-gap: 24px;
    --hero-container-gap: 188px;
    --hero-bg: rgba(46, 47, 66, 0.7);
    --card-shadow: 2px 0px 2px rgba(0, 0, 0, 0.12),
    1px 0px 2px rgba(0, 0, 0, 0.08), 1px 0px 3px rgba(0, 0, 0, 0.1);
}

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.centred {
    text-align: center;
}

/** hide lists dots */
.list {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

/** Reset internal indents */
ul { 
  padding: 0px;
  list-style: none; 
} 

/** Reset external indents-widthdents */
h1, 
h2,
h3, 
h4, 
p, 
ul { 
  margin: 0; 
}

/** Reset extra spases around imgs and set max-wudth */
img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
    font: inherit;
}

/** Link decorations */
a.active.link {
    text-decoration:none;
    color: var(--btn-active-color);
}

a.active.link:hover {
    color: var(--btn-active-color);
}

a.link:is(:hover, :focus) {
    text-decoration-line:var(--btn-active-color); 
    color: var(--btn-active-color);  
}

/** Hidden header styles*/
.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/** .body-container.main */
body {
    background-color: var(--primary-white-color);
    color: var(--text-color);
    font-family: var(--primary-font-family), sans-serif;
    font-weight: var(--header3-font-weight);
    letter-spacing: 0.02em; 
}

 /** Container */
.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    /* outline: 3px solid teal; */
}

/**-------------MAIN PAGE--------------*/
/**--------TOP LINE SECTION-------*/
header {
    border-bottom: 1px solid var(--white-text-color);
}

.header .container {
    display:flex;
    justify-content: space-between;
    outline: 2px solid tomato;
}

.page-nav {
    display:flex;
    align-items: center;
}

.logo {
    font-family: var(--secondary-font-family);
    font-size: var(--logo-font-size);
    line-height: var(--header-logo-line-height);
    text-decoration: none;
}

.logo-web {
    color: var(--accent-text-color);
}

.logo-studio {
    color: var(--title-text-color);
}

.white-logo-studio {
    color: var(--white-title-text-color);
}

/** Top line Menu nav */
.menu-nav.list{
    display:flex;
    margin-left: 76px;
    padding-left: 0px;
}

.menu-nav > .item:not(:first-child) {
    margin-left: 40px;
} 

.nav{
    display:block;
    padding-top: var(--padding-gap);
    padding-bottom: var(--padding-gap);
    text-decoration: none;
    font-weight: 500;
    color: var(--title-text-color);
}

.nav:hover, .nav:focus {
    color: var(--btn-active-color);
}

.contacts.list > ul {
    display:flex;
    justify-content: space-between;
    width: 346px;
}

.contacts a,
.address.link {
    display:block;
    padding-top: var(--padding-gap);
    padding-bottom: var(--padding-gap);
    color: var(--text-color);
    line-height: var(--header3-line-height);
    font-style: normal;
    text-decoration: none;
}

.contacts > .item:not(:first-child) {
    margin-left: 40px;
}

/**--------HERO SECTION---------*/
  /** HERO-img container */
 .hero-img .container {
    padding: var(--hero-container-gap) 0;
    width: var(--page-width);
    background-color: var(--dark-background-color);
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(".././img/group-people-working-website-template.jpg");
 }

 .hero-img {
    margin: auto;
    align-content: center;
    width: var(--page-width);
 }

 .hero-msg {  
    margin: 0px auto 48px;
    color: var(--white-text-color);
    font-size: var(--header1-font-size);
    line-height: var(--header1-line-height);
    font-weight: var(--header1-font-weight);
    width: 496px;
    text-align: center;
 }

.hero-btn {
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    padding: 16px 32px;
    background-color: var(--accent-text-color);
    color: var(--primary-white-color);
    line-height: var(--text-line-height);
    font-weight: 500;
    font-size: 16px; 
}

.hero-btn:is(:hover,:focus) {
    background-color: var(--btn-active-color);
    color: var(--primary-white-color);
}


/** Main page section titles */
.title {
    text-align: center;
    margin-bottom: 72px;
    margin-top: 0px;  
    color: var(--title-text-color);
    font-size: var(--header2-font-size);
    line-height: var(--header2-line-height);
}

/** Section containers */
.features-list,
.information-list,
.team-list {
    display: flex;
    justify-content: space-between;
    width: var(--content-width);
}

.section {
    padding: 120px 0;
}

/**-------FEATURES SECTION--------*/
.feature-item {
    align-items:center;
    width: var(--feature-width);
    margin-right: 24px;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 264px;
    height: 224px;
    left: 156px;
    top: 792px;
}

li.feature.list:last-child {
    margin-right: 0px;
}

.features-list {
    gap: 24px;
    display: flex;
}

.feature-title {
    margin-bottom: 8px;
    color: var(--title-text-color);
    font-size: var(--header3-font-size);
    font-weight: 500;
    line-height: var(--header3-line-height);
}

.feature-content { 
    color: var(--text-color);
    line-height: 1.5;
}

/**FEATURE SECTION ICONS*/
svg.feature-icn {
    width: 264px;
    height: 112px;
    padding-left: 0px;
    top: 0px;
    background: #F4F4FD;
    border-radius: 4px;
}

.feature-icn:hover {
    fill: var(--accent-text-color);
}

.feature-icn-box {
    display:flex;
    align-items: center;
    width: 264px;
    height: 112px;
    padding: 24px 100px;
    left: 0px;
    top: 0px;
    background-color: var(--white-background-color);
}

/**--------WHAT ARE WE DOING SECTION----------*/
.information {
    padding-top: 0;
}

.information .container {
    flex-basis: calc(100% / 3);
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: 0px; */
    /* padding-bottom: calc(10px + 6 * var(--padding-gap)); */
    /* outline: 1px solid red; */
}

/**----------- OUR TEAM SECTION------------- */
/* .section-team .container { */
.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--white-title-text-color);
}

.team-item { 
    align-items: center;  
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-items{
    padding: 32px 16px; 
    text-align: center;
}

ul.card-content.list li {
    margin-left: 0px;
}

.teamplayers-name {
    margin-bottom: 8px;
    font-size: var(--header3-font-size);
    font-weight: 500;
    color: var(--title-text-color);
    line-height: var(--header3-line-height);
}

.teamplayers-position {
    line-height: var(--header3-line-height);
    color: var(--text-color);
}

/**OUR TEAM SECTION ICONS*/

ul.media-icns {
    display: flex;
    justify-content: space-around;
}

.media-icns > .item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    /* padding: 10%; */
    background: var(--accent-text-color);
    border-radius: 50px;
}

.section-team .icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    width: 232px;
    height: 40px;
    fill:#E5E5E5;
}

/**-------------CUSTOMERS SECTION--------------*/

.customers-logos.list { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 72px;
    margin-bottom: 120px; 
    width: var(--content-width);
    height: 88px;
    order: 0;
    flex-grow: 0; 
    background-color: var(--primary-white-color);
}

/**CUSTOMERS SECTION ICONS*/
.customers-item > .icon {
    width: 168px;
    height: 88px;
    order: 0;
    flex-grow: 0;
    fill: #8E8F99;
    border: 1px solid #8E8F99;
    border-radius: 4px;
}

.customer-logo {
    fill: #8E8F99;  
}

.media-logo {
    fill:#fff;

}

.footer-logo {
    fill: #fff;
}

/**------------------FOOTER SECTION--------------- */
.footer {
    padding: 100px 0;
    background-color: var(--dark-background-color);
}

.footer .container {
    display: flex;
}

.logo-box {
    height: 110px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-right: 120px;
    outline: 3px solid #FFFFFF;
}

.footer-content {
    margin-top: 16px;
    width: var(--footer-content-width);
    color: var(--white-text-color);
    line-height: var(--header3-line-height);
}

/**PAGE FOOTER ICONS*/

.footer-container,
.media-items {
    display: flex;
}

.footer-media-icns {
    margin: 0 20px;
    outline: 3px solid black;
}

.trailing-box {
    display: flex;
    outline: 3px solid red;
    padding: 0;
    margin: 0;
}

.media-icns .item {
    fill: red;
}

.footer-media-icns {
    width: 1208px;
    height: 80px;
    display: flex;
    gap: 24px;
    margin-left: 50px;
    /* background-color: var(--title-text-color); */
    line-height: var(--footer-logo-line-height);
}

.footer-media-icns {
    display: flex;
    background-size: contain;
    gap: 16px;
    /* fill:#E5E5E5; */
    fill:#2E2F42;
}

.footer-media-header {
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.footer-media-icn {
    display: block;
    /* fill:#E7E9FC; */
    /* fill:#2E2F42; */
    background-size: contain;
}


/**----------------- PORTFOLIO PAGE ---------------*/
.portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-buttons {
    display:flex;
    margin-bottom: 72px;
    justify-content: center;
    gap: 24px;
}

.filters {
    display: block;
    min-width: 69px;
    height: 48px;
    padding: calc(var(--padding-gap)/2) var(--padding-gap);
    font-size: var(--regular-font-size); 
    font-weight: 500;  
    border: 1px solid;
    border-top: 4px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: var(--accent-text-color);
    background-color: var(--white-background-color);  
    line-height: 1.5;  
}

.filters:is(:focus, :hover) {
    background-color: var(--btn-active-color);
    color: var(--primary-white-color);
    border: 4px solid var(--white-text-color);
}


/* .filters[aria-label]:hover, */
/* .filter:active[aria-label]:hover { */
    /* text-decoration: underline; */
/* } */

.rows {
    display:flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.card-box {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--white-text-color);
    border-top: none;
}

.card-title {
/* h3.content.name { */
    margin-bottom: 8px;
    font-family: var(--primary-font-family);
    font-size: var(--header3-font-size);
    font-weight: var(--header3-font-weight);
    color: var(--title-text-color);
}